<%= nested_form_for @event, :html => { :class => 'form-horizontal', :multipart => true } do |f| %>
  <div class="span8">
    <div class="control-group">
      <%= f.label :name, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :name, :class => 'text_field' %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :poster, "#{@event.persisted? ? 'Change poster' : 'Poster' }", :class => 'control-label' %>
      <div class="controls">
        <%= f.file_field :poster, :class => 'text_field' %>
      </div>
    </div>  
    <div class="control-group">
      <%= f.label :thumbnail_poster, "#{@event.persisted? ? 'Change poster thmbnail' : 'Poster thmbnail' }", :class => 'control-label' %>
      <div class="controls">
        <%= f.file_field :thumbnail_poster, :class => 'text_field' %>
      </div>
    </div>  
    <div class="control-group">
      <%= f.label :scheduled_on, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :scheduled_on, :value => (@event.scheduled_on.strftime("%d %B, %Y") rescue ""), :class => 'text_field datepicker' %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :description, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_area :description, :class => 'text_area', :size => "50x8", :style => "width:auto" %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :youtube_url, "Youtube Embed Code (Keep the width less than 500px)", :class => 'control-label' %>
      <div class="controls">
        <%= f.text_area :youtube_url, :class => 'text_area', :size => "50x8", :style => "width:auto" %>
      </div>
    </div>
  </div>
  <div class="span3">
    <% unless @event.poster.blank? %>
      Event Poster <br>
      <%= image_tag @event.poster.url, :width => 270 %>
    <% end %>
    <br><br>
    <% unless @event.thumbnail_poster.blank? %>
      Event Poster thumbnail<br>
      <%= image_tag @event.thumbnail_poster.url(:cropped), :width => 270 %>
    <% end %>
  </div>
  <div class="clearfix"></div>
<!--   <%= f.fields_for :event_pictures do |event_picture| %>
    <div class="clearfix">
      <h4>Event Media</h4>
      <hr>
      <div class="pull-left">
        <div class="control-group">
          <%= event_picture.label :image, event_picture.object.persisted? ? "Change image" : "Image", :class => 'control-label' %>
          <div class="controls">      
            <%= event_picture.file_field :image, :class => 'file_field' %>
          </div>
        </div>
        <div class="control-group">
          <span style="padding-left:75px"></span><%= event_picture.link_to_remove "Remove this menu page" %>
        </div>
      </div>
      <div class="pull-left" style="padding-left: 50px">
        <% if event_picture.object.persisted? %>
          <%= link_to image_tag(event_picture.object.image.url(:thumb)), event_picture.object.image.url, :target => "_blank" %>
        <% end %>
      </div>
    </div>
  <% end %>
  <%= f.link_to_add "Add event media", :event_pictures %> -->

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-success' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                events_path, :class => 'btn' %>
  </div>
<% end %>