<div class="gallery_container">
  <div id="gallery2">
    <ul class="bjqs">
      <% SliderImage.where(hidden: false).each do |slider| %>
        <li><img src="<%= slider.image.url(:cropped) %>"></li>
      <% end %>
    </ul>
  </div>
</div>
<div class="main_content">
  <div class="center_content home_content">
    <div class="grid_3">
      <div class="content_inner">
      <h1><a href="art_club.html">Events</a></h1>
      <% unless (event = Event.upcoming.first || Event.past.first).nil? %>
        <img src="<%= event.thumbnail_poster.url(:cropped) %>" width="270px" height="270px" class="center_img">
        <h2><a href="<%= show_event_path(event.id) %>"><%= event.name %></a></h2>
        <p style="text-align: center;">
          <%= truncate(event.description, :length => 120) %>
          <a style="color:#f26522" href="<%= show_event_path(event.id) %>">View Details</a>
        </p>
      <% end %>
      </div>
    </div>
    <div class="grid_3">
      <div class="content_inner">
      <h1><a href="menu#cheval-tab">Specials Menu</a></h1>
      <% special_menu = SpecialMenu.where("hidden = false").order("updated_at DESC").first %>
      <% unless special_menu.nil? %>
        <div class="special-menu-image">
          <img src="<%= special_menu.thumbnail_image.url(:cropped) rescue "" %>" class="center_img">
        </div>
        <h2><a href="menu#specials<%= special_menu.id %>"><%= special_menu.name %></a></h2>
        <p style="text-align: center;">
          <%= truncate(special_menu.description, :length => 120) %>
          <a style="color:#f26522" href="menu#specials<%= special_menu.id %>">View Details</a>
        </p>
        </div>
      <% end %>
    </div>
    <div class="grid_3">
      <div class="content_inner">
      <h1>Social</h1>
      <a href="http://twitter.com/chevalmumbai"><img src="/assets/twitter.png" style="margin-top:35px;" class="center_img"></a>
      <div id="rotator">
        <% Testimony.order("created_at DESC").limit(10).each do |testimony| %>
          <p class="large_content"><%= testimony.content %></p>
        <% end %>
      </div>
      <div class="social">
        <a target="_blank" href="http://www.facebook.com/chevalmumbai"><img src="/assets/facebook.png"></a>
        <a target="_blank" href="http://www.instagram.com/chevalmumbai"><img src="/assets/instagram.png"></a>
        <a target="_blank" href="http://www.zomato.com/mumbai/cheval-bar-restaurant-fort"><img src="/assets/zomato.png"></a>
      </div>
    </div>
    <div class="clear"></div>
  </div>
</div>

<script type="text/javascript">
  $(function(){
      $("#gallery2").bjqs({
        'width' : 1200,
        'height' : 400,
        'automatic' : false,
        'animtype' : 'slide',
        'showmarkers' : false
      });
  });

  $(window).load(function() {
    startRotator("#rotator");
  })

  function rotateBanners(elem) {
    var active = $(elem+" p.active");
    var next = active.next();
    if (next.length == 0) 
      next = $(elem+" p:first");
    active.removeClass("active").fadeOut(0, function(){
      next.addClass("active").fadeIn(200);
    });
  };
   
  function prepareRotator(elem) {
    $(elem+" p").fadeOut(0);
    $(elem+" p:first").fadeIn(0).addClass("active");
  };
   
  function startRotator(elem) {
    prepareRotator(elem);
    setInterval("rotateBanners('"+elem+"')", 3500);
  };
</script>
<!-- Google Analytics: change UA-XXXXX-X to be your site's ID. 
<script>
  var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
  (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
  g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
  s.parentNode.insertBefore(g,s)}(document,'script'));
</script> -->
