<div class="single_event_container">
  <div class="link_content">
    <p class="date"><%= @event.scheduled_on.strftime("#{@event.scheduled_on.day.ordinalize} %b %Y") %></p>
    <h3><%= @event.name %></h3>
    <p><%= @event.description %></p>
    <br>
    <div class="gallery">
      <%= raw @event.youtube_url %>
    </div>
  </div>
</div>
<div class="menu_content">
    <img src=<%= @event.poster.url %> width="500">
</div>